<div class="main-articles" ng-repeat="article in artctrl.articles | limitTo: 10">
    <hr/>
    <div>
      <img ng-src="{{article.image}}" alt=""/>
    </div>
    <h3 class="text-muted" ng-bind="article.title"></h3>
    <div>
      <p ng-bind="article.text"></p>
    </div>
    <div class="text-muted" >
      <span class="article-date">
        <span class="glyphicon glyphicon-time"></span>
        <span ng-bind="article.date | date:'yyyy/MM/dd h:mm a' "></span>
      </span>
      <span class="glyphicon glyphicon-user"></span>
      <span ng-bind="article.author"></span>
    </div>
</div>