<div class="main-articles" ng-repeat="article in articles | limitTo: 10">
    <hr/>
    <h3 class="text-muted"><a href="#/blog/{{article._id}}">{{article.title}}</a></h3>
    <div>
      <img class="img-responsive" ng-src="{{article.image}}" alt=""/>
    </div>
    <div>
      <p ng-bind="article.body"></p>
    </div>
    <div class="text-muted" >
      <span class="article-date">
        <span class="glyphicon glyphicon-time"></span>
        <span ng-bind="article.date | date:'yyyy/MM/dd h:mm a' "></span>
      </span>
      <span class="glyphicon glyphicon-user"></span>
      <span ng-bind="article.author"></span>
      <span class="pull-right blog-buttons">
        <span class="glyphicon glyphicon-pencil" ng-click="editArticle(article)"></span>
        <span class="glyphicon glyphicon-remove" ng-click="deleteArticle(article)"></span>
      </span>
    </div>
</div>