<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div ng-controller="ArticlesCtrl as artctrl">
  <button ng-click="openArticleForm()" class="btn btn-default btn-lg">Add new post</button>
  <div class="main-articles" ng-repeat="article in artctrl.articles | limitTo: 10">
    <hr/>
    <div>
      <img ng-src="{{article.image}}" alt=""/>
    </div>
    <h3 class="text-muted" ng-bind="article.title"></h3>
    <div>
      <p ng-bind="article.text"></p>
    </div>
    <div class="text-muted" >
      <span class="glyphicon glyphicon-time"></span>
      <span ng-bind="article.date | date:'yyyy/MM/dd h:mm a' "></span>
      &nbsp;&nbsp;&nbsp;
      <span class="glyphicon glyphicon-user"></span>
      <span ng-bind="article.author"></span>
    </div>
  </div>
  <div class="add-article-overlay" ng-class="{'articleFormVisible' : articleFormVisible}">
    <div class="add-article-popup">
      <p class="close" ng-click="closeArticleForm()">&times;</p>
      <br>
      <form name="articleForm"  ng-submit="articleForm.$valid && artctrl.addArticle()" novalidate>
        <h4 class="modal-title">Add new post</h4>
        <p>
          <input type="text" class="form-control" placeholder="Your name" ng-model="artctrl.article.author" required>
        </p>
        <p>
          <input type="text" class="form-control" placeholder="Article title" ng-model="artctrl.article.title" required>
        </p>
        <p>
          <textarea  class="form-control" placeholder="Add text to your article" rows="7" ng-model="artctrl.article.text" required> </textarea>
        </p>
        <p>
          <input type="text" class="form-control" placeholder="Enter image URL"  ng-model="artctrl.article.image">
        </p>
        <p class="row">
          <input type="submit" value="Submit" class="btn btn-primary btn-lg col-xs-12"/>
        </p>
      </form>
    </div>
  </div>
</div>
